{% if physicianBlogContributions | length > 0 %}
	<div class="editorial details physician-contributions show-less">
		<h3>{{ "Provider's Contributions"|t }}</h3>

		{% for physicianBlogContribution in physicianBlogContributions %}
			<a href="{{physicianBlogContribution.url()|raw}}">
				<div class="physician-contribution">
					<div class="image">
						{{ getOptimizedImage(physicianBlogContribution.heroImage.one(), 'webp', false, [
						{ 'settings': ['gravity:sm', 'resize:fill:800:800:1:1'], 'css': '(min-width: 200px)' }
					])|raw }}
					</div>
					<div class="details">
						<span class="title link-effect">{{physicianBlogContribution.title}}</span>
						<span class="topics">{{physicianBlogContribution.healthTopics.all() | map (v => v.category.one.title) | join(", ")}}</span>
						<span class="date">{{physicianBlogContribution.postDate|date("F Y")}}</span>
					</div>
				</div>
			</a>
		{% endfor %}

		{% if physicianBlogContributions | length > 5 %}
			<span class="expand show-more link-effect">
				<span>{{ "Show More"|t }}</span>
				<span class="material-icons">
					expand_more
				</span>
			</span>
			<span class="expand show-less">
				<span>{{ "Show Less"|t }}</span>
				<span class="material-icons">
					expand_less
				</span>
			</span>
		{% endif %}
	</div>
{% endif %}
