{# All templates extend _layouts/_main.twig or a child layout of _layouts/_main.twig #}
{% extends "_layouts/_main.twig" %}
{% set identity = craft.app.patient_user.identity %}
{% if identity != null and identity.anonymous == false and identity.getAppointmentServiceIds is empty() %}
	{% redirect '/schedule' %}
{% endif %}
{% block title 'Login Portal'|t %}
{% block bodyClass "login-portal-page" %}
{# Main is where the body content of the page is defined at #}
{% block main %}

{% set isVideoVisitFlow = referrer == '/schedule/video-visit/patient-info' %}
{# show steps indicator if user is coming from video visit flow #}
{% if isVideoVisitFlow %}
	{% include '_scheduling/videovisit/_steps.twig' with {
		backUrl: "/schedule/video-visit"
	} %}
{% endif %}
	<div class="loginPortalContainer {{ isVideoVisitFlow ? 'video-visit' }}">
		<div class="login-portal-pattern"></div>
		<div class="portal">
			<h2>{{ "Do you have a patient account?"|t }}</h2>
			<p>{{ "Log in with {myChartName} to personalize your experience and make appointments quicker."|t(params = {
				myChartName: myChartName
			}) }}</p>
			{{ html.beginForm('', 'POST', {
				id: 'login-form',
				enctype: 'multipart/form-data'
			}) | raw }}
			{{ csrfInput() }}
			{% include "_input/_input.twig" with {
				type: 'text',
				name: 'username',
				label: "Enter your username"|t,
				error: form.getFirstError('username'),
				extraOptions: {
					required: "required"
				}
			} only %}
			<a href="https://mychart.dupagemd.net/MyChart/recoverlogin.asp" class="forgot" target="_blank" rel="noopener noreferrer" tabindex="-1">{{ "Forgot your username?"|t }}</a>
			{% include "_input/_input.twig" with {
				type: 'password',
				name: 'password',
				label: "Enter your password"|t,
				error: form.getFirstError('password'),
				extraOptions: {
					required: "required"
				}
			} only %}
			<a href="https://mychart.dupagemd.net/MyChart/passwordreset.asp" class="forgot" target="_blank" rel="noopener noreferrer" tabindex="-1">{{ "Forgot your password?"|t }}</a>
			<button id="submitLogin" type="submit" class="dmgButton primary3" disabled>
				<div class="cta">{{ "Log into {myChartName}"|t( { myChartName: myChartName } )}}</div>
			</button>
			{{ html.endForm() | raw }}
			<div id="createAccount">
				<p>{{ "Don't have an account?"|t }}</p>
				<a href="https://mychart.dupagemd.net/MyChart/accesscheck.asp" target="_blank" rel="noopener noreferrer">{{ "Create your {myChartName} account."|t(params = {
					myChartName: myChartName
				}) }}</a>
			</div>
		</div>
		<div class="divider"></div>
		<div class="portal">
			<h2>{{ "Continue As A Guest"|t }}</h2>
			<p>{{ "Don’t worry, you’ll be able to create a {myChartName} account after the scheduling process."|t(params = {
				myChartName: myChartName
			}) }}</p>
			<button class="dmgButton secondary3">
				<a href="{{ referrer }}">
					{{ "Continue as Guest" }}
				</a>
			</button>
		</div>
	</div>
	{% if craft.app.session.hasFlash('login-error') %}
		<span class="error">{{craft.app.session.getFlash('login-error')}}</span>
	{% endif %}
	{% if craft.app.session.getFlash('login-failure') %}
		<input type="hidden" name="login-failure">
	{% endif %}
	{% set appointmentServiceChosenFlash = craft.app.session.getFlash('appointment-service-chosen') %}
	{% if appointmentServiceChosenFlash %}
		<input type="hidden" name="appointment-service-chosen" value="{{appointmentServiceChosenFlash}}">
	{% endif %}
{% endblock %}
