{# All templates extend _layouts/_main.twig or a child layout of _layouts/_main.twig #}
{% extends "_layouts/_main.twig" %}

{% set entry = craft.entries()
    .section('homePageOverview')
    .with(['immediateCareLocationDetails', 'homeHeroImage', 'stat'])
    .one()
%}

{% set contentTitle = null %}
{% set contentSummary = "With more than 750 providers and 120 Chicagoland locations, {siteName} provides high quality, compassionate healthcare, making healthcare better for our patients and communities."|t(params = {
    siteName: siteName
}) %}

{% set contentTitle = null %}
{% if entry.customSeoMetaTitle is not null %}
    {% set contentTitle = entry.customSeoMetaTitle %}
{% else %}
    {% set contentTitle = entry.title %}
{% endif %}

{# {% title %} is used to define the HTML <title> tag. Static translations `|t` route through Craft #}
{% block title contentTitle %}

{% if entry.customSeoMetaDescription is not null %}
    {% set contentSummary = entry.customSeoMetaDescription %}
{% endif %}

{% block og %}
    {% include "_layouts/_og.twig" with {
        entry: entry,
		heroImage: entry.homeHeroImage[0],
        cacheKey: 'homepage-' ~ entry,
        contentTitle: contentTitle,
        contentSummary: contentSummary,
        skipTagStrip: true
    } only %}
{% endblock %}

{# Main is where the body content of the page is defined at #}
{% block main %}
<section class="homepage-container">
    {% if (entry.homeHeroImage != null) and (entry.heroImageText != null) and (entry.heroImageSubtext != null) %}
    {% set heroNumber = random(0, entry.homeHeroImage|length -1) %}
        <div class="hero-container">
            <div class="image-container" itemprop="sharedContent" itemscope itemtype="http://schema.org/WebPage">
                {{ getOptimizedImage(entry.homeHeroImage[heroNumber], 'webp', false, [{'settings': ['gravity:sm', 'resize:fill:900:550:1:1'],'css': '(max-width:768px)'},{'settings': ['gravity:sm', 'resize:fill:1000:600:1:1'],'css': '(max-width:992px)'},{'settings': ['resize:fill:1200:600:1:1'],'css': '(max-width:1200px)'},{'settings': ['resize:fill:1600:600:1:1'],'css': '(min-width:1600px)'}])|raw }}
            </div>
            {# <div class="gradient-buffer"></div> #}
            <div class="text-container">
                <h1>{{ entry.heroImageText }}</h1>
                <p class="subheadline">{{ entry.heroImageSubtext }}</p>

                {% set cta = entry.heroImageCta.one %}
                <div id="ctas">
                    {% if cta is not null %}
                        <div class="cta">
                            <button class="dmgButton primary2">
                                <a href="{{ cta.buttonLink.one.linkUrl != null ? cta.buttonLink.one.linkUrl : cta.buttonLink.one.getUrl() }}">
                                    {{ cta.buttonText }}
                                </a>
                            </button>
                        </div>
                    {% endif %}
                    <div class="cta">
                        <button class="dmgButton secondary1">
                            <a href="/schedule/video-visit">
                                {{ "Next Available Video&nbsp;Visits"|t|raw }}
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-bottom-effect">
            <div class="hero-bottom-effect-left"></div>
            <div class="hero-bottom-effect-right"></div>
        </div>
    {% endif %}

    {# Per Jaclyn, this is temporarily being removed. DMG-2341 #}
    {# {% include "_widgets/iam-container.twig" only %} #}

    <div class="stats-container">
        {% for singleEntry in entry.stat %}
        <div class="stat">
            <div class="headline">
                {{ singleEntry.headline }}
            </div>
            <p class="sub-headline">{{ singleEntry.subheadline }}</p>
            <a href="{{ singleEntry.buttonUrl }}" class="button">
                {{ singleEntry.buttonText }}
            </a>
        </div>
        {% endfor %}
    </div>

    {% set resources = craft.entries({
            section: 'blog',
            type: 'healthTopic',
            limit: 6,
            enabledForSite: true,
            orderBy: {
                featureOnHomepage: SORT_DESC,
                postDate: SORT_DESC
            },
            with: ['heroImage']
        }).all() %}

    {% set featured = resources[0] %}
    {% set subfeatured = resources|slice(1,2) %}
    {% set related = resources|slice(3, resources|length) %}

    <div class="featured-container">
        {% if resources|length %}
            <h3>{{ "Featured Resources"|t }}</h3>
        {% endif %}
        <div class="content">
            {% if (featured != null) %}
            <div class="featured">
                <div class="resource">
                    <a href="{{ featured.url }}">
                        <div class="image-container">
                            <div class="img-holder">
                                {{ getOptimizedImage(featured.heroImage[0], 'webp', false, [{'settings': ['resize:fill:930:550:1:1'], 'css': '(max-width:992px)'},{'settings': ['resize:fill:500:418:1:1'],'css': '(max-width:1200px)'},{'settings': ['resize:fill:620:396:1:1'],'css': '(max-width:1400px)'},{'settings': ['resize:fill:620:396:1:1'],'css': '(min-width:1400px)'}])|raw }}
                            </div>
                            <div class="text">
                                <div class="title">
                                    <p class="headline">{{ featured.title }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="sub-featured">
                {% if subfeatured != null %}
                {% for resource in subfeatured %}
                <div class="resource">
                    <a href="{{ resource.url }}">
                        <div class="image-container">
                            <div class="img-holder">
                                {{ getOptimizedImage(resource.heroImage[0], 'webp', false, [{'settings': ['resize:fill:832:496:1:1'], 'css': '(max-width:992px)'},{'settings': ['resize:fill:190:158:1:1'],'css': '(max-width:1200px)'},{'settings': ['resize:fill:250:154:1:1'],'css': '(max-width:1399px)'},{'settings': ['resize:fill:250:154:1:1'],'css': '(min-width:1400px)'}])|raw }}
                            </div>
                            <div class="text">
                                <div class="title">
                                    <p class="headline">{{ resource.title }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="related-featured">
                {% if related != null %}
                {% for resource in related %}
                <div class="resource">
                    <a href="{{ resource.url }}">
                        <div class="content-container">
                            <div class="text">
                                <div class="title">
                                    <p class="headline">{{ resource.title }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}

                {% if resources|length %}
                    <div {% if resources|length <= 3 %} class="expanded" {% endif %} id="view-more">
                        <a href="/health-topics">
                            {{ "View More"|t }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="dynamic-care-locations hidden"></div>
    {% include '_widgets/immediate-care-locations.twig' with { entry: entry } %}
</section>
{% endblock %}

{% block extra_css %}
    {{ craft.twigpack.includeCssModule("mapbox.css", false, {
        "nonce":  "__CSP_NONCE__"
    }) }}
{% endblock %}

{% block extra_js %}
    {{ craft.twigpack.includeJsModule("mapbox.js", false, {
        "nonce":  "__CSP_NONCE__"
    }) }}
{% endblock %}