{% set patientUser = craft.app.patient_user.identity %}

{% if patientUser and not patientUser.anonymous %}
	{% if patientUser.appointment_current_epi and patientUser.appointment_current_epi != "-1" %}
		{% set currentPatient = craft.app.patient_user.identity.getPatients()[patientUser.appointment_current_epi] %}
		<div class="patient-appointments-details">
			{% if currentPatient.nextUpcomingAppointment %}
				<div class="next-upcoming-appointment-container">
					{% set date = currentPatient.nextUpcomingAppointment.Date %}
					<span class="title">{{ "Next Appointment"|t }}</span>
					<div class="next-upcoming-appointment">
						<div class="date">
							<div class="day-name">{{ date|date('l') }}</div>
							<div class="month-name">{{ date|date('F') }}</div>
							<div class="day">{{ date|date('d') }}</div>
							<div class="divider"></div>
							<div class="time">{{ currentPatient.nextUpcomingAppointment.Time }}</div>
						</div>
						<div class="location">
							{% set department = currentPatient.nextUpcomingAppointment.ProviderDepartments[0] %}
							<div class="name">{{ department.Provider.Name }}</div>
							<div class="address-line-one">{{ department.Department.Address.StreetAddress[0]|lower }}</div>
							<div class="city-state-zip">{{ department.Department.Address.City|lower }},
								{{ department.Department.Address.State.Abbreviation|lower }}
								{{ department.Department.Address.PostalCode|lower }}</div>
							<div class="divider"></div>
							<a class="get-directions" href="" target="_blank" rel="noopener noreferrer">
								<span class="material-icons">directions_car</span>
								<span>{{ "Get Directions"|t }}
							</a>
						</div>
					</div>
				</div>
			{% endif %}

			{% if currentPatient.nextUpcomingAppointment and currentPatient.pastAppointmentsPhysicianIDs|length > 0 %}
				<div class="divider"></div>
			{% endif %}

			{% if currentPatient.pastAppointmentsPhysicianIDs|length > 0 %}
				{% set physicians = craft.entries({
						section: 'physicians',
						id: currentPatient.pastAppointmentsPhysicianIDs
					}).all() 
				%}
				<div class="previously-seen-physicians-container">
					<span class="title">{{ "Previously Seen"|t }}</span>
					<div class="previous-physicians">
						{% for physician in physicians %}
							{% include "_scheduling/physicians/_physician.twig" with {
								selectedOutsideOfScheduling: true
							} %}
						{% endfor %}
					</div>
					<div class="overflow-overlay left hidden">
						<div class="arrow left">
							<span class="material-icons arrow_back"></span>
						</div>
					</div>
					<div class="overflow-overlay right hidden">
						<div class="arrow right">
							<span class="material-icons arrow_forward"></span>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}
{% endif %}
