{% set physicianLocationCities = craft.entries({
	section: 'locations'
}).all() | group('address.parts.city') | keys | filter (v => v != "") | sort((a, b) => a > b) %}

<div class="filter-entry availability-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "Availability"|t }}
			<span class="count"></span>
		</p>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		<div class="radio" tabindex="0">
			{% include "_input/_radio.twig" with {
				type: 'radio',
				name: 'mobile-availability',
				id: 'mobile-availability-id-any',
				checked: false,
				label: "Any"|t,
			} only %}
		</div>

		{% for availability in availabilities %}
			<div class="radio" tabindex="0">
				{% include "_input/_radio.twig" with {
						type: 'radio',
						name: 'mobile-availability',
						id: 'mobile-availability-id-' ~ loop.index,
						checked: false,
						label: availability|t,
					} only %}
			</div>
		{% endfor %}
	</div>
</div>

<hr>

<div class="filter-entry ages-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "Ages Seen"|t }}
			<span class="count"></span>
		</p>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		{% for age in ages %}
			<div class="checkbox-container age-checkbox">
				{% include "_input/_checkbox.twig" with {
					name: 'age-checkbox',
					class: 'mobile-age-filter',
					id: 'mobile-age-' ~ titleize(age),
					tabindex: 0,
					label: age
				} only %}
			</div>
		{% endfor %}

		<div class="slider">
			<hr>

			<div class="radio" tabindex="0">
				{% include "_input/_radio.twig" with {
					type: 'radio',
					name: 'age-range',
					id: 'age-slider-mobile',
					label: "Custom Age Range"|t
				} only %}
			</div>

			<p class="indicator hidden">{{ "Sees All Ages Between "|t }}<span class='min'></span> - <span class='max'></span></p>

			<div class="hidden slider-container" id="slider-mobile"></div>
		</div>
	</div>
</div>

<hr>

<div class="filter-entry cities-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "City"|t }}
			<span class="count"></span>
		</p>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		{% for physicianLocationCity in physicianLocationCities %}
			<div class="checkbox-container city-checkbox">
				{% set label = physicianLocationCity %}
				{% include "_input/_checkbox.twig" with {
                    name: 'city-checkbox',
                    class: 'city-filter',
                    id: 'mobile-city-' ~ titleize(label),
                    tabindex: 0,
                    label: label
                } only %}
			</div>
		{% endfor %}
	</div>
</div>

<hr>

<div class="filter-entry genders-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "Gender"|t }}
			<span class="count"></span>
		</p>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		{% for gender in genderField %}
			<div class="checkbox-container gender-checkbox">
				{% include "_input/_checkbox.twig" with {
                    name: 'gender-checkbox',
                    class: 'gender-filter',
                    id: 'mobile-gender-' ~ titleize(gender),
                    tabindex: 0,
                    label: gender
                } only %}
			</div>
		{% endfor %}
	</div>
</div>

<hr>

<div class="filter-entry hospital-affiliations-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "Hospital Affiliation"|t }}
			<span class="count"></span>
		</p>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		{% for physicianHospitalAffiliation in physicianHospitalAffiliations.all() | reduce((unique, item) => item.title in unique ? unique : unique|merge([item.title]), []) %}
			<div class="checkbox-container hospital-affiliation-checkbox">
				{% set label = physicianHospitalAffiliation %}
				{% include "_input/_checkbox.twig" with {
                    name: 'hospital-affiliation-checkbox',
                    class: 'hospital-affiliation-filter',
                    id: 'mobile-hospital-affiliation-' ~ titleize(label),
                    tabindex: 0,
                    label: label
                } only %}
			</div>
		{% endfor %}
	</div>
</div>

<hr>

<div class="filter-entry languages-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "Language"|t }}
			<span class="count"></span>
		</p>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		{% for language in languages.all() %}
			<div class="checkbox-container language-checkbox">
				{% set label = language %}
				{% include "_input/_checkbox.twig" with {
                    name: 'language-checkbox',
                    class: 'language-filter',
                    id: 'mobile-language-' ~ titleize(label),
                    tabindex: 0,
                    label: label
                } only %}
			</div>
		{% endfor %}
	</div>
</div>

<hr>

<div class="filter-entry lgbtqia-container">
	<i class="material-icons close hidden"></i>
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "LGBTQIA+ Resource"|t }}
			<span class="count"></span>
		</p>
		<div>
			<div class="mdc-form-field" id="lgbtqiaCheckboxContainer">
				<div class="mdc-checkbox">
					<input type="checkbox"
						class="mdc-checkbox__native-control"
						id="lgbtqiaCheckbox"/>
					<div class="mdc-checkbox__background">
						<svg class="mdc-checkbox__checkmark"
							viewBox="0 0 24 24">
							<path class="mdc-checkbox__checkmark-path"
								fill="none"
								d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
						</svg>
						<div class="mdc-checkbox__mixedmark"></div>
					</div>
					<div class="mdc-checkbox__ripple"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="filter-entry services-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "Specialties"|t }}
			<span class="count"></span>
		</p>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		{% for service in services %}
			{% set subspecialties = craft.entries({
				section: 'services',
				orderBy: 'title ASC',
				descendantOf: service.id
			}).all() %}

			{% set label = service.title %}
			{% set hasSubSpecialties = subspecialties is not null and subspecialties|length %}

			{% if hasSubSpecialties %}
				<div class='checkbox-container service-checkbox parent-service' data-service-id="{{ service.id }}">
					{% include "_input/_checkbox.twig" with {
						name: 'service-checkbox',
						class: 'service-filter',
						id: 'mobile-service-' ~ titleize(service),
						tabindex: 0,
						label: label
					} only %}
				</div>
			{% else %}
				<div class='checkbox-container service-checkbox'>
					{% include "_input/_checkbox.twig" with {
						name: 'service-checkbox',
						class: 'service-filter',
						id: 'mobile-service-' ~ titleize(service),
						tabindex: 0,
						label: label
					} only %}
				</div>
			{% endif %}

			{% if subspecialties is not null %}
				{% for subservice in subspecialties %}
					<div class="checkbox-container service-checkbox subservice" data-service-id="{{ service.id }}">
						{% include "_input/_checkbox.twig" with {
							name: 'service-checkbox',
							class: 'mobile-service-filter',
							id: 'mobile-service-' ~ titleize(subservice.slug),
							tabindex: 0,
							label: subservice.title
						} only %}
					</div>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
</div>

<hr>

<div class="filter-entry sort-container">
	<div class="filter-label">
		<p class="label-text" tabindex="0">{{ "Sort By"|t }}
			<span class="count"></span>
		</p>
		<span class="material-icons sort"></span>
		<i class="material-icons close hidden"></i>
		<i class="material-icons keyboard_arrow_down"></i>
	</div>

	<div class="dropdown">
		<div class="radio" tabindex="0">
			{% include "_input/_radio.twig" with {
				type: 'radio',
				name: 'sort',
				id: 'mobile-sort-id-any',
				checked: false,
				label: "Any"|t
			} only %}
		</div>

		{% for sort in sorts %}
			<div class="radio" tabindex="0">
				{% include "_input/_radio.twig" with {
						type: 'radio',
						name: 'sort',
						id: 'mobile-sort-id-' ~ loop.index,
						checked: false,
						label: sort|t
					} only %}
			</div>
		{% endfor %}
	</div>
</div>
