<div class="inline-text-field-container">
    <label class="mdc-text-field mdc-text-field--filled duly-text-field mdc-text-field--textarea {{ class ?? '' }}">
        <span class="mdc-floating-label" id="{{ name }}-label">{{ label }}</span>
        <span class="mdc-text-field__resizer">
            <textarea class="mdc-text-field__input" name="{{ name }}" id="{{ id ?? '' }}" aria-labelledby="{{ name }}-label" rows="8" cols="40" maxlength="{{ maxlength ?? '' }}" {{ required is defined and required == true ? 'required' }}></textarea>
        </span>
        <span class="mdc-line-ripple"></span>
    </label>
</div>
