{# All templates extend _layouts/_main.twig or a child layout of _layouts/_main.twig #}
{% extends "_layouts/_main.twig" %}

{% block title 'Select a Provider'|t %}
{% block bodyClass "select-physician-page" %}

{# Main is where the body content of the page is defined at #}
{% block main %}	
<div id="backgroundPattern"></div>
    {% set patientUser = craft.app.patient_user.identity %}
	{% set session = craft.app.session %}
	{# route back to visit reason if one is there #}
	{% set backUrl = "/schedule/insurance" %}

	{% if reasonForVisitId %}
		{% set backUrl = "/schedule/visit-reason" %}
	{% elseif serviceQuestionsCount %}
		{% set backIndex = serviceQuestionsCount - 1 %}
		{% set backUrl = "/schedule/preliminary?currentQuestionIndex=" ~ backIndex %}
	{% endif %}

	{% include "_scheduling/alerts/_exit-alert.twig" %}
	{% include "_scheduling/navigation/_steps.twig" with {
		backUrl: backUrl
	} %}
	<div class="select-physician-container">
		<div class="content">
			<div class="header">
				<div class="text">
					<h2>{{ "Providers"|t }}</h2>
					<span><span class="result-count-total">{{ totalCount }}</span> {{ "Results"|t }}</span>
				</div>
				<div class="map-list-switcher" tabindex="0">{{ "Map"|t }}</div>
			</div>
			{% include "_scheduling/search/_search-physicians.twig" %}
			<p class="fetch-error hidden"></p>

			<div class="types">
				<div class="type active" id="next-available" tabindex="0">
					<p>{{ "Next Available"|t }}</p>
				</div>

				<div class="type" id="near-you" tabindex="0">
					<p>{{ "Near You"|t }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="content physician-content">
		{% include "_scheduling/physicians/_content.twig" %}
	</div>
{% endblock %}
