{% if physicians|length %}
	<hr>
	<div class="physicians-list-grid">
		<h4 class="physician-header">{{ "Available"|t }} {{ service.title }} {{ "Providers"|t }}</h4>
		<div class="physicians-list">
			{% for physician in physicians %}
			<div class="physician-short">
				<a href="{{ physician.url }}">
					{% set hasHeadShot = physician.physicianHeadshot.one() is not null %}
					<div class="{{ hasHeadShot == false ? 'image default-headshot thumbnail' : 'image' }}">
						{% if hasHeadShot %}
							{{ getOptimizedImage(physician.physicianHeadshot.one(), 'webp', false, [
								{ 'settings': ['gravity:sm', 'resize:fill:120:120:1:1'], 'css': '(min-width: 200px)' }
							])|raw }}
						{% endif %}
					</div>

					<h5>{{ physician.title }}</h5>
					{% include "_physician-stars.twig" with {
						physician: physician
					} %}
					<span class="specialties">
						{% for speciality in physician.physicianSpeciality.all() | filter (v => v.type != "ancillaryServices") | sort((a, b) => a.title > b.title) %}
							<span class="speciality-name">{{ speciality.title }}</span>
						{% endfor %}
					</span>
					<div class="locations">{{ getPhysicianLocations(physician).getModels() | map(m => "#{m.city}" ) | unique | join(', ') }}</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
